<app-nav-menu>
    <mat-card>
        <h1>Eliminar SubAreas</h1>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Area id: {{areaEliminar.id}} </mat-card-title>
        </mat-card-header>
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin.value)">
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Codigo</mat-label>
                <input matInput formControlName="code" readonly required type="number">
                <mat-error *ngIf="formLogin.controls['code'].hasError('required')">
                  Codigo es <strong>requiredo</strong>
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="name" readonly required>
                  <mat-error *ngIf="formLogin.controls['name'].hasError('required')">
                    Nombre es <strong>requireda</strong>
                  </mat-error>
                </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="areaId" readonly required>
                <mat-error *ngIf="formLogin.controls['areaId'].hasError('required')">
                  Nombre es <strong>requireda</strong>
                </mat-error>
              </mat-form-field>
              <br>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Enivar</button>
        </mat-card-actions>
      </form>
      </mat-card>
</app-nav-menu>