<app-nav-menu>
    <mat-card>
      <h1>Crear Areas</h1>
    </mat-card>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit(formLogin.value)">
        <mat-form-field appearance="fill">
            <mat-label>Codigo</mat-label>
            <input matInput formControlName="code" required type="number">
            <mat-error *ngIf="formLogin.controls['code'].hasError('required')">
              Codigo es <strong>requiredo</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="formLogin.controls['name'].hasError('required')">
                Nombre es <strong>requireda</strong>
              </mat-error>
            </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>SubAreas</mat-label>
            <mat-select formControlName="areaId">
              <mat-option *ngFor="let area of areas"  [value]="area.id">
                {{area.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <br>
        <button mat-raised-button color="primary" type="submit">Enivar</button>
        </form>
</app-nav-menu>